@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>苏州国家高新技术产业开发区安全生产综合监管信息平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    @*@RenderSection("styles", required: false)*@
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/win10")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu
        }

        /*磁贴自定义样式*/
         .win10-block-content-text {
             line-height: 44px;
             text-align: center;
             font-size: 16px;
         }
    </style>
</head>


<body>
    <div id="win10">
        <div class="desktop">
            <div id="win10-shortcuts" class="shortcuts-hidden">
                <div class="shortcut" data-title="危化品重大危险源" data-src="@Url.Content("~/WH/WHIndex")">
                    <i class="fa fa-warning icon bg-danger"></i>
                    <div class="title">危化品重大危险源</div>
                </div>
                @*<div class="shortcut" data-title="GPS定位" data-src="@Url.Content("~/XT/BmapLocation")">
                    <img class="icon" src="@Url.Content("~/plug/win10-ui/img/icon/Amap.png")" />
                    <div class="title">GPS定位</div>
                </div>
                <div class="shortcut" data-title="在线聊天" data-src="@Url.Content("~/XT/Chat")">
                    <img class="icon" src="@Url.Content("~/plug/win10-ui/img/icon/wechat.png")" />
                    <div class="title">在线聊天</div>
                </div>*@

                <div class="shortcut" data-title="隐患排查" data-src="@Url.Content("~/YH/YHSumList")">
                    <i class="fa fa-search icon bg-blue"></i>
                    <div class="title">隐患排查</div>
                </div>

                <div class="shortcut" data-title="隐患明细" data-src="@Url.Content("~/YH/YHList")">
                    <img class="icon" src="@Url.Content("~/plug/win10-ui/img/icon/doc.png")" />
                    <div class="title">隐患明细</div>
                </div>

            </div>
            <div id="win10-desktop-scene"></div>
        </div>
        

        <div id="win10-menu" class="hidden">
            <div class="list win10-menu-hidden animated animated-slideOutLeft">
            <div class="item"><i class="red icon fa fa-wrench fa-fw"></i><span>网站快捷入口</span></div>
            <div class="sub-item" data-src="http://wwww.baidu.com" data-title="百度一下，你就知道">百度一下，你就知道</div>
            <div class="item" ><i class="blue icon fa fa-gavel fa-fw"></i>辅助工具</div>
            <div class="sub-item" onclick="Win10.openUrl('win10ui.yuri2.cn/src/tools/builder-shortcut.html','图标代码生成器')">桌面图标代码生成器</div>
            <div class="sub-item" onclick="Win10.openUrl('win10ui.yuri2.cn/src/tools/builder-tile.html','磁贴代码生成器')">磁贴代码生成器</div>
            <div class="sub-item" onclick="Win10.openUrl('win10ui.yuri2.cn/src/tools/builder-menu.html','菜单代码生成器')">菜单代码生成器</div>
            <div class="item" id="Signout"><i class="purple icon fa fa-info-circle fa-fw"></i>注销</div>
            <div class="item"><i class="black icon fa fa-power-off fa-fw"></i>关闭</div>
        </div>
            <div class="blocks">
                            <div class="menu_group">
                <div class="title">
                    应用示例
                </div>
                <div loc="1,1" size="6,3" class="block">
                    <div class="content red detail" >
                        <iframe style="margin-top: 10px" frameborder="no" border="0" marginwidth="0" marginheight="0" width=264 height=110 src="//music.163.com/outchain/player?type=2&id=110771&auto=0&height=90"></iframe>
                    </div>
                    <div class="content red cover">
                        <img width="264" style="position: relative;top: -50px;" src="@Url.Content("~/plug/win10-ui/img/presentation/wangyiyun.gif")" />
                    </div>
                </div>
                <div loc="1,4" size="4,4" class="block">
                    <div class="content blue cover" style="font-size: 30px;line-height: 176px;text-align: center">
                        <i class="fa fa-cloud fa-fw"></i> 天气
                    </div>
                    <div class="content detail" style="background-color: rgb(46,147,217)">
                        <iframe src="//www.seniverse.com/weather/weather.aspx?uid=U43DF172E7&cid=CHBJ000000&l=&p=SMART&a=1&u=C&s=13&m=2&x=1&d=1&fc=&bgc=2E93D9&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="200" height="300" allowTransparency="true"></iframe>
                    </div>
                </div>
                <div loc="5,4" size="2,2" class="block">
                    <div class="content">
                        <img style="display: inline-block;border-radius: 4px" width="88px" src="http://q2.qlogo.cn/headimg_dl?bs=824831811&dst_uin=824831811&src_uin=824831811&fid=824831811&spec=100&url_enc=0&referer=bu_interface&term_type=PC"/>
                    </div>
                </div>
                <div loc="5,6" size="2,2" class="block" onclick="win10_forgive_me()">
                    <div class="content red">
                        <div style="text-align: center;font-size: 30px;line-height: 44px"><i class="fa fa-bug fa-fw"></i></div>
                        <div style="text-align: center;font-size: 16px;line-height: 44px">别点我</div>
                    </div>
                </div>
            </div>

            <div class="menu_group">
                <div class="title">
                    常用场景
                </div>
                <div loc="1,1" size="4,3" class="block">
                    <div class="content" style="background-color: orangered">
                        <div class="win10-block-content-text" style="font-size: 26px;line-height: 88px">预留空间</div>
                        <div class="win10-block-content-text">预留空间</div>
                    </div>
                </div>
                <div loc="5,1" size="2,1" class="block">
                    <div class="content" style="background-color: green">
                        <div  class="win10-block-content-text">预留空间</div>
                    </div>
                </div>
                <div loc="5,2" size="2,2" class="block">
                    <div class="content">
                        <img style="width: 40px;height: 40px;margin: 5px auto;display: block" src="@Url.Content("~/plug/win10-ui/img/icon/baidu.png")">
                        <div class="win10-block-content-text">预留空间</div>
                    </div>
                </div>
                <div loc="1,4" size="6,3" class="block">
                    <div class="content" style="background: url('@Url.Content("~/plug/win10-ui/img/presentation/1.png")'); background-size: auto">
                        <div style="line-height:132px;text-align: center;">预留空间</div>
                    </div>
                </div>
                <div loc="1,7" size="2,1" class="block">
                    <div class="content" style="background-color: grey" onclick="Win10.openUrl('//www.baidu.com')">
                        <div class="win10-block-content-text">预留空间</div>
                    </div>
                </div>
                <div loc="3,7" size="2,1" class="block">
                    <div class="content" style="background-color: blue" onclick="window.open('https://www.baidu.com')">
                        <div class="win10-block-content-text">预留空间</div>
                    </div>
                </div>
            </div>
            </div>
            <div id="win10-menu-switcher"></div>
        </div>
        <div id="win10_command_center" class="hidden_right">
            <div class="title">
                <h4 style="float: left">消息中心 </h4>
                <span id="win10_btn_command_center_clean_all">全部清除</span>
            </div>
            <div class="msgs"></div>
        </div>
        <div id="win10_task_bar">
            <div id="win10_btn_group_left" class="btn_group">
                <div id="win10_btn_win" class="btn"><span class="fa fa-windows"></span></div>
                <div class="btn" id="win10-btn-browser"><span class="fa fa-internet-explorer"></span></div>
            </div>
            <div id="win10_btn_group_middle" class="btn_group"></div>
            <div id="win10_btn_group_right" class="btn_group">
                <div class="btn" id="win10_btn_time"></div>
                <div class="btn" id="win10_btn_command"><span id="win10-msg-nof" class="fa fa-comment-o"></span></div>
                <div class="btn" id="win10_btn_show_desktop"></div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/Commonjs")
    @*@Scripts.Render("~/plug/win10-ui/js/win10.js")*@

    <script>
    
    layui.config({
        base: '@Url.Content("~/plug/layui/extend/js/")',
        version: '1.0.1'
    }).use(['layer', 'win10'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            Win10 = layui.win10;

        $.get("@Url.Content("~/XT/getCurentUserInfo")").done(function(xhr){
            userInfo = xhr;
        });

        Win10.onReady(function () {

            //设置壁纸
            Win10.setBgUrl({
                main: "@Url.Content("~/plug/win10-ui/img/wallpapers/main.jpg")",
                mobile: "@Url.Content("~/plug/win10-ui/img/wallpapers/mobile.jpg")"
            });

            Win10.setAnimated([
                'animated flip',
                'animated bounceIn'
            ], 0.01);

            // Win10.openUrl("www.baidu.com", "<img class='icon' src='@Url.Content("~/plug/win10-ui/img/")icon/doc.png'/>在线文档");

                setTimeout(function () {
                    //Win10.openUrl('//win10ui.yuri2.cn/src/broadcast.html', '<i class="fa fa-newspaper-o icon red"></i>待办事件', [['300px', '380px'], 'rt'])
                    Win10.newMsg('消息提示', '您有一条新消息，请注意查收');
                }, 1000);


            });


            Win10._init();
            for (var i in Win10._handleReady) {
                var handle = Win10._handleReady[i];
                handle();
            }


            var _deviceType = $.Cm_Common.getDeviceType(),
                _clickMethed = _deviceType.type == "mobile" ? "click" : "dblclick";

            $("[data-src]")[_clickMethed](function () {
                var $this = $(this);
                var _title = ($this.find(">.icon").prop("outerHTML") || "") + $this.attr("data-title"),
                    _src = $this.attr("data-src");
                Win10.openUrl(_src, _title, 'max');
            });

            
            //注销
            $("#Signout").click(function () {
                var loadIndex = layer.load("0");
                $.get("@Url.Content("~/Home/SignOut")?tm=" + $.Cm_DateTime.TimeTicks()).always(function () {
                    layer.close(loadIndex);
                    setTimeout(function () {
                        location.href = "@Url.Content("~/Home/Login")";
                    },30);
                });
            });
        });

    </script>
</body>

</html>

