
@{
    ViewBag.Title = "WHIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .container-tab{margin:5px 0 0 0;padding:5px;}
</style>

<div class="layui-tab container-tab layui-tab-brief" lay-filter="WHTab">
        <ul class="layui-tab-title">
            <li class="layui-this" data-load="1">危化品申报(生产)</li>
            <li >危化品申报(使用)</li>
            <li>重大危险源备案</li>
            <li>剧毒化学品月度申报</li>
            <li>同位素放射源备案</li>
            <li>危化品/剧毒品/同位素从业人员备案</li>
        </ul>
        <div class="layui-tab-content nopadding">
            <div class="layui-tab-item layui-show">
                <iframe src="@Url.Content("~/WH/WHSCList")" frameborder="0" width="100%" height="500"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe data-src="@Url.Content("~/WH/WHSYList")" frameborder="0" width="100%" height="500"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe data-src="@Url.Content("~/WH/ZDWXList")" frameborder="0" width="100%" height="500"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe data-src="@Url.Content("~/WH/JDList")" frameborder="0" width="100%" height="500"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe data-src="@Url.Content("~/WH/TWSList")" frameborder="0" width="100%" height="500"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe data-src="@Url.Content("~/WH/WHRYList")" frameborder="0" width="100%" height="500"></iframe>
            </div>
        </div>
    </div>


<script>
layui.use(['element','layer'], function(){
    var $ = layui.jquery
    , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
    , layer = layui.layer;
  element.on('tab(WHTab)', function (elem) {
      if (!$(elem.elem.context).attr("data-load"))
      {
          $(elem.elem.context).attr("data-load", "1");
          var $ifr = $(".layui-tab-item:eq(" + elem.index + ")>iframe");
          $ifr.attr("src", $ifr.attr("data-src"));
      }
   // location.hash = 'test='+ $(this).attr('lay-id');
  });

});
</script>